.git
music-party-web/node_modules
music-party-web/dist
music-party-web/.npm-cache
src/main/resources/static
target
music_party
cached_media
data
config/application.properties
config/licenses.json
dist
build
android
launcher
external-api-source
.snow
**/*.jks
**/*.keystore
